In [2]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

c:\users\sanja\appdata\local\programs\python\python38-32\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
userurl=r"C:\Users\sanja\OneDrive\Documents\Data Analytics\Project\ml-100k\u.data"
movurl=r"C:\Users\sanja\OneDrive\Documents\Data Analytics\Project\ml-100k\u.item"

In [4]:
movcol=['movieId','title']
df_movies = pd.read_csv(movurl,names=movcol,sep='|',encoding='latin-1', usecols=['movieId', 'title'],
            dtype={'movieId': 'int32', 'title': 'str'})
df_movies.head()

   movieId              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [5]:
usercol=['userId','movieId','rating']
df_ratings = pd.read_csv(userurl,names=usercol,sep='\t',encoding='latin-1', usecols=['userId', 'movieId', 'rating'],
            dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})
df_ratings.head()

   userId  movieId  rating
0     196      242     3.0
1     186      302     3.0
2      22      377     1.0
3     244       51     2.0
4     166      346     1.0

In [6]:
movies_users=df_ratings.pivot(index='movieId', columns='userId',values='rating').fillna(0)
mat_movies_users=csr_matrix(movies_users.values)

In [7]:
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

In [8]:
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                 radius=1.0)

In [9]:

def recommender(movie_name, data, model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print('Searching for recommendations.....')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))
    
recommender('Dead Man Walking (1995)', mat_movies_users, model_knn,20)

Movie Selected:  Dead Man Walking (1995) Index:  8
Searching for recommendations.....
8                                     NaN
99                           Fargo (1996)
275              Leaving Las Vegas (1995)
126                 Godfather, The (1972)
6                   Twelve Monkeys (1995)
236                  Jerry Maguire (1996)
507    People vs. Larry Flynt, The (1996)
49                       Star Wars (1977)
123                      Lone Star (1996)
0                        Toy Story (1995)
97       Silence of the Lambs, The (1991)
63       Shawshank Redemption, The (1994)
11             Usual Suspects, The (1995)
55                    Pulp Fiction (1994)
317               Schindler's List (1993)
116                      Rock, The (1996)
14              Mr. Holland's Opus (1995)
57                       Quiz Show (1994)
285           English Patient, The (1996)
13                     Postino, Il (1994)
Name: title, dtype: object

In [10]:
recommender('Pulp Fiction', mat_movies_users, model_knn,20)

Movie Selected:  Pulp Fiction (1994) Index:  55
Searching for recommendations.....
55                                           NaN
97              Silence of the Lambs, The (1991)
173               Raiders of the Lost Ark (1981)
78                          Fugitive, The (1993)
11                    Usual Suspects, The (1995)
203                    Back to the Future (1985)
171              Empire Strikes Back, The (1980)
194                       Terminator, The (1984)
95             Terminator 2: Judgment Day (1991)
10                          Seven (Se7en) (1995)
233                                  Jaws (1975)
209    Indiana Jones and the Last Crusade (1989)
182                                 Alien (1979)
167       Monty Python and the Holy Grail (1974)
49                              Star Wars (1977)
63              Shawshank Redemption, The (1994)
68                           Forrest Gump (1994)
181                            GoodFellas (1990)
172                   Princess Bride, The (1987)
175                                Aliens (1986)
Name: title, dtype: object

In [11]:
recommender('Aliens', mat_movies_users, model_knn,20)

Movie Selected:  Aliens (1986) Index:  175
Searching for recommendations.....
175                                          NaN
182                                 Alien (1979)
194                       Terminator, The (1984)
173               Raiders of the Lost Ark (1981)
95             Terminator 2: Judgment Day (1991)
97              Silence of the Lambs, The (1991)
227          Star Trek: The Wrath of Khan (1982)
171              Empire Strikes Back, The (1980)
88                           Blade Runner (1982)
78                          Fugitive, The (1993)
55                           Pulp Fiction (1994)
233                                  Jaws (1975)
209    Indiana Jones and the Last Crusade (1989)
172                   Princess Bride, The (1987)
81                          Jurassic Park (1993)
143                              Die Hard (1988)
229         Star Trek IV: The Voyage Home (1986)
264             Hunt for Red October, The (1990)
49                              Star Wars (1977)
203                    Back to the Future (1985)
Name: title, dtype: object

In [12]:
recommender('Toy Story', mat_movies_users, model_knn,20)

Movie Selected:  Toy Story (1995) Index:  0
Searching for recommendations.....
0                                               NaN
49                                 Star Wars (1977)
180                       Return of the Jedi (1983)
120                   Independence Day (ID4) (1996)
116                                Rock, The (1996)
404                      Mission: Impossible (1996)
150    Willy Wonka and the Chocolate Factory (1971)
221                 Star Trek: First Contact (1996)
99                                     Fargo (1996)
236                            Jerry Maguire (1996)
173                  Raiders of the Lost Ark (1981)
6                             Twelve Monkeys (1995)
117                                  Twister (1996)
171                 Empire Strikes Back, The (1980)
27                                 Apollo 13 (1995)
256                             Men in Black (1997)
203                       Back to the Future (1985)
68                              Forrest Gump (1994)
94                                   Aladdin (1992)
78                             Fugitive, The (1993)
Name: title, dtype: object

In [13]:
recommender('Aladdin', mat_movies_users, model_knn,20)

Movie Selected:  Aladdin (1992) Index:  94
Searching for recommendations.....
94                                           NaN
70                         Lion King, The (1994)
587                  Beauty and the Beast (1991)
81                          Jurassic Park (1993)
203                    Back to the Future (1985)
171              Empire Strikes Back, The (1980)
173               Raiders of the Lost Ark (1981)
27                              Apollo 13 (1995)
98        Snow White and the Seven Dwarfs (1937)
422            E.T. the Extra-Terrestrial (1982)
201                         Groundhog Day (1993)
567                                 Speed (1994)
209    Indiana Jones and the Last Crusade (1989)
160                               Top Gun (1986)
68                           Forrest Gump (1994)
227          Star Trek: The Wrath of Khan (1982)
78                          Fugitive, The (1993)
172                   Princess Bride, The (1987)
392                        Mrs. Doubtfire (1993)
384                             True Lies (1994)
Name: title, dtype: object

In [14]:
recommender('Top Gun', mat_movies_users, model_knn,20)

Movie Selected:  Top Gun (1986) Index:  160
Searching for recommendations.....
160                                          NaN
81                          Jurassic Park (1993)
384                             True Lies (1994)
567                                 Speed (1994)
549            Die Hard: With a Vengeance (1995)
402                                Batman (1989)
229         Star Trek IV: The Voyage Home (1986)
225                            Die Hard 2 (1990)
203                    Back to the Future (1985)
565              Clear and Present Danger (1994)
194                       Terminator, The (1984)
173               Raiders of the Lost Ark (1981)
95             Terminator 2: Judgment Day (1991)
68                           Forrest Gump (1994)
171              Empire Strikes Back, The (1980)
264             Hunt for Red October, The (1990)
209    Indiana Jones and the Last Crusade (1989)
227          Star Trek: The Wrath of Khan (1982)
78                          Fugitive, The (1993)
21                             Braveheart (1995)
Name: title, dtype: object

In [15]:
recommender('Fargo', mat_movies_users, model_knn,20)

Movie Selected:  Fargo (1996) Index:  99
Searching for recommendations.....
99                                              NaN
6                             Twelve Monkeys (1995)
49                                 Star Wars (1977)
126                           Godfather, The (1972)
55                              Pulp Fiction (1994)
97                 Silence of the Lambs, The (1991)
0                                  Toy Story (1995)
180                       Return of the Jedi (1983)
236                            Jerry Maguire (1996)
275                        Leaving Las Vegas (1995)
8                           Dead Man Walking (1995)
11                       Usual Suspects, The (1995)
116                                Rock, The (1996)
474                            Trainspotting (1996)
120                   Independence Day (ID4) (1996)
150    Willy Wonka and the Chocolate Factory (1971)
173                  Raiders of the Lost Ark (1981)
24                             Birdcage, The (1996)
63                 Shawshank Redemption, The (1994)
237                          Raising Arizona (1987)
Name: title, dtype: object